@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;400&display=swap');

:root {
  --primary-color: #6BA292; /* Verde suave para relaxamento */
  --secondary-color: #A4D4AE; /* Verde mais claro para harmonia */
  --background-color: #F5F5DC; /* Bege claro para suavidade */
  --text-color: #2C3E50; /* Azul acinzentado para leitura confortável */
  --button-bg: #A4D4AE; /* Verde calmante */
  --button-hover: #6BA292; /* Verde mais intenso ao passar o mouse */
  --border-color: #FFFFFF; /* Bordas suaves e leves */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background: url('../img/spa.jpeg') no-repeat center center fixed;
  background-size: cover;
  color: var(--text-color);
  font-size: 1.2em;
  line-height: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 600px;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--primary-color);
  text-align: center;
}

h1 {
  color: var(--primary-color);
}

.relogio {
  font-size: 3em;
  margin: 30px;
  color: var(--primary-color);
  text-shadow: 2px 2px 5px var(--secondary-color);
  border: 3px solid var(--secondary-color);
  padding: 25px;
  display: inline-block;
  background: #FFFFFF;
  font-weight: bold;
  border-radius: 12px;
}

.pausado {
  color: #D98880;
  text-shadow: 0 0 10px #D98880, 0 0 20px #D98880;
}

/* Estilo para os botões */
button {
  font-family: 'Pacifico', cursive;
  font-size: 1em;
  padding: 12px 25px;
  margin: 10px;
  border: 2px solid var(--border-color);
  cursor: pointer;
  color: var(--text-color);
  background: var(--button-bg);
  box-shadow: 0 0 10px var(--button-bg);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
}

button:hover {
  background: var(--button-hover);
  box-shadow: 0 0 15px var(--button-hover);
  color: #FFFFFF;
}

button:active {
  transform: scale(0.95);
}