@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

input {
    padding: 0.5rem;
    width: 200px;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 0.5rem 1rem;
    background-color: #0b5ed7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #084298;
}

#resultado {
    margin-top: 1rem;
    font-weight: bold;
}
